<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit Animal</title>
    </head>
    <body>
        <form action="/dogs/<%= dog._id %>" method="POST">
            <input type="text" name="name" placeholder="<%= dog.name %>">
            <input type="number" name="age" placeholder="<%= dog.age %>">
            <select name="breed">
                <option value="">Select Breed</option>
                <option value="Golden Retriever">Golden Retriever</option>
                <option value="Dachshund">Dachshund</option>
                <option value="Mix">Mix</option>
                <option value="Other">Other</option>
            </select>
            <input type="submit">
        </form>
    </body>
</html>