<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Enter Quote</title>
    </head>
    <body>
        <h2>Enter Quote!</h2>
        <form action="/quotes" method="POST">
        <input type="text" name="name" placeholder="Name"><br><br>
        <textarea name="quote" cols="30" rows="10" placeholder="Enter quote here..."></textarea><br>
        <button type="submit">Submit</button>
        </form>
        <a href="/quotes"><button>Skip to Quotes</button></a>
    </body>
</html>